.analog-clock {
    border-radius: 50%;
}

.center-dot {
    width: 8%;
    height: 8%;
    /*background-color: gray;*/
    background: linear-gradient(-135deg, #ff0044,#e19235, #878200);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: 47%;
}

.number-cycle {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.interval {
    width: 0.3%;
    height: 3%;
    background-color: black;
}


.hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
}
.hour-hands {
    z-index: 5;
    width: 1%;
    height: 20%;
    background-color: black;
    top: 30%;
    margin-left: -0.5%;
}
.minute-hands {
    z-index: 6;
    width: 1%;
    height: 30%;
    background-color: blue;
    top: 20%;
    margin-left: -0.5%;
}
.second-hands {
    z-index: 7;
    width: 0.5%;
    height: 40%;
    background-color: red;
    top: 12%;
    margin-left: -0.5%;
    transform-origin: 50% 95%;
}


.info-analog {
    font-size: 1.5rem;
}
.analog-date {
    top: 20%;
}
.analog-day {
    top: 74%;
}
.analog-session {
    top: 45%;
    right: 10%;
}


@media (max-width: 768px) {
    .analog-clock {
        width: 80vw;
        height: 80vw;
    }
    .center-dot {
        width: 8%;
        height: 8%;
        top: 45%;
    }

    .hour-hands {
        width: 2%;
        height: 18%;
        top: 32%;
    }
    .minute-hands {
        height: 28%;
        top: 22%;
    }
    .second-hands {
        height: 35%;
        top: 15%;
    }

    .info-analog {
        font-size: 0.8rem;
    }
    .analog-session {
        top: 48%;
    }
}

@media (max-width: 480px) {
    .analog-clock {
        width: 60vw;
        height: 60vw;
    }
    .center-dot {
        width: 8%;
        height: 8%;
        top: 45%;
    }

    .info-analog {
        font-size: 0.6rem;
    }
    .analog-session {
        top: 47%
    }
}