* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

span {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -6px;
  transform-origin: 50% 135px;
  top: 1px;
}


.analog-clock {
  background: lightgray;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border: 14px solid black;
  position: relative;
  margin: 8% auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-dot {
  width: 25px;
  height: 25px;
  background-color: gray;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}


.hand {
  position: absolute;
  left: 50%;
}
.hour-hands {
  z-index: 5;
  width: 4px;
  height: 65px;
  background-color: black;
  top: 70px;
  margin-left: -2px;
  transform-origin: 50% 69px;
}
.minute-hands {
  z-index: 6;
  width: 4px;
  height: 100px;
  background-color: blue;
  top: 40px;
  margin-left: -2px;
  transform-origin: 50% 99px;
}
.second-hands {
  z-index: 7;
  width: 2px;
  height: 120px;
  background-color: red;
  top: 13px;
  margin-left: -1px;
  transform-origin: 50% 124px;
}


.info {
  position: absolute;
  background-color: grey;
  width: 68px;
  font-size: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
.date {
  top: 55px;
  left: 105px;
}
.day {
  top: 200px;
  left: 105px;
}
.session {
  top: 120px;
  right: 30px;
  width: 30px;
}


.interval {
  width: 1px;
  height: 10px;
  background-color: black;
  margin-left: -1px;
}