* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

  text-align: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 5vw;
  font-size: 2vw;
}

button {
  padding: 0.5vw;
  margin-bottom: 1vw;
  text-align: center;
  font-size: 1vw;
  border-radius: 5px;
}
